@import "../../styles/index";
.dnn-ui-common-tooltip {   
    >div{
        position: relative;
    }    
    .tooltip-overlay{
        display: block;
        font-family: Open Sans,sans-serif;
        font-weight: 400;
        font-size: 1rem;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 16px;        
        transition: all 300ms ease-in-out;
        display:flex;
        justify-content: center;
        min-width:200px;
        .tooltip-inner{
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            padding:5px 10px;
            border-radius: 5px;
            position: relative;
            &::before{
                position: absolute;
                display: block;
                content: "";
                left: 50%;
                right: 0;
                top: 100%;
                border: 16px solid transparent;
                margin-left: -16px;
                border-top-color: rgba(0,0,0,0.8);
                width: 0;
                height: 0;
            }
        }
        &.tooltip-overlay--hidden{
            opacity:0;
            pointer-events: none;
        }
    } 
    &.error {
        .icon svg {
            color: @alizarinCrimson;
            fill: @alizarinCrimson;
        }
        .tooltip-inner{
            background-color: @alizarinCrimson;
            &::before{
                border-top-color: @alizarinCrimson;
            }
        }    
    }
    &.warning {
        .icon svg {
            color: #EA9C00;
            fill: #EA9C00;
        }
        .tooltip-inner{
            background-color: #EA9C00;
            &::before{
                border-top-color: #EA9C00;
            }
        } 
    }
    &.info {
        .icon svg {
            color: @alto;
            fill: @alto;
        }
        .tooltip-inner{
            background-color: @alto;
            &::before{
                border-top-color: @alto ;
            }
        }
    }
    &.global {
        .icon svg {
            color: @cerulean;
            fill: @cerulean;
        }
        .tooltip-inner{
            background-color: @cerulean;
            &::before{
                border-top-color: @cerulean ;
            }
        }     
    }
    .icon svg {
        width: 20px;
        height: 20px;
    }    
}